
html:not(.mobile-view) {

.topic-status-info {
    max-width: 840px;
}
.small-action {
    max-width: 840px;
}
.post-menu-area {
    margin-bottom: 1px;
    margin-top: 5px;
}
a.tag-sid {
  font-weight: normal;
  color: #39739d !important;
  background-color: #E1ECF4;
  padding: 2px 8px;
  }
  
a.tag-sid:hover {
  background-color: #cee0ed;
  }  
  
 @media(min-width:980px) {
  
  .has-sidebar + .sidebar {
    width: 15%;
    float: left;
    min-height: 100px;
   }

  .list-container.has-sidebar {
    width: 83%;
    float: right;
   }

  h3.sidebar-heading {
   color: #888;
   padding-top: 12px;
   font-size: 13px;
   font-weight: normal;
   text-transform: uppercase;
   }

  a.cat {
  margin-top: 3px;
  display: inline-block; 
  font-size: 13px;
  font-weight: normal;
  color: #666 !important; 
   }

  a.cat:hover {
    color: #999 !important;
   }
    
body[class*="category-test"] .sidebar {display: none;visibility: hidden;}
body[class*="category-test"] .list-container.has-sidebar {float: none;width: 100%;}
body[class*="category-staff"] .sidebar {display: none;visibility: hidden;}
body[class*="category-staff"] .list-container.has-sidebar {float: none;width: 100%;}

}
}
