/*head*/
.category-chat img#site-logo.logo-big, .category-other img#site-logo.logo-big
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(http://toxu.ru/uploads/default/original/2X/9/94776468b97fa13a02683f82db60f73c38f7149e.png) no-repeat;
  background-size: 150px 40px;
  width: 150px; /* Width of new image */
  height: 40px; /* Height of new image */
  padding-left: 150px; /* Equal to width of new image */    
}

.category-chat img#site-logo.logo-small, .category-other img#site-logo.logo-small {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 8px;
    background: url(http://toxu.ru/uploads/default/original/2X/d/dc081015bfa39c2411139a1f774751bb8b99f8a5.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.category-chat .wrap .contents.clearfix, .category-other .wrap .contents.clearfix {
 background-color: #179cee; 
}

span.badge-category-bg {
    border: 1px solid white;
}

.category-chat .d-header, .category-other .d-header
{
    background-color : #179cee;
}

.category-chat .wrap, .category-other .wrap {background: none;}
.category-chat .d-header .icons .icon, .category-other .d-header .icons .icon,
.category-chat .d-header .badge-wrapper.bullet span.badge-category,
.category-other .d-header .badge-wrapper.bullet span.badge-category,
.category-chat .d-header .title a,
.category-other .d-header .title a,
.category-chat .extra-info-wrapper .topic-link, .category-other .extra-info-wrapper .topic-link
{
    color : #fff ;
}

.category-chat .extra-info-wrapper .badge-wrapper.bullet span.badge-category,
.category-other .extra-info-wrapper .badge-wrapper.bullet span.badge-category
{
    color : #fff !important;
}
/*end*/


li.extra-nav-item-outlet.votes {display: none;}

@media(min-width: 1120px) { 
.categories-and-latest.ember-view .ember-view .category-list {width: 32%; }
.categories-and-latest .category-list, .categories-and-latest .topic-list-latest {width: 63%;}    
.topic-body {width: 790px;padding: 12px 11px 1px 11px;}
.wrap {max-width: 1200px;} 
#banner {max-width: 1200px;} 
.timeline-container {margin-left: 1000px;}
}

@media(max-width:1010px) {
#banner {display: none;} 
}
body .text-label #ember1140.ember-text-field.ember-view{width: 430px;}
@media(max-width:900px) {
#banner {display: none;} 
.sidebar{display: none;}
#main-outlet .container.list-container.has-sidebar {
    width: 100%;
    float: left;
}
  
.topic-list .views {display: none;}
.topic-list .likes {display: none;}
.topic-list .votes {display: none;}
  
.cat{display: none;} .num.likes{display: none;} .topic-list .views {display: none;}
.topic-list a.title {font-size: 16px;}   
.topic-list a.title.visited:not(.badge-notification){font-size: 16px;}  

}

@media(max-width:720px){ .avahome {display: none;} 
.contents.ember-view .topic-list .creator {margin-left: 1px;}
#suggested-topics  .topic-list .creator {margin-left: 1px;}
}


@media(max-width:620px){ .avahome {display: none;} }


summary:first-of-type {color: #08c;}
nav.post-controls button.edit.create {color: green !important;}

body[class*="navigation-categories"] .sidebar {display: none;visibility: hidden;}
body[class*="navigation-categories"] .list-container.has-sidebar {float: none;width: 100%;}

html:not(.mobile-view) {
.comm{
    width: 3px;
    background-color: #ddd;
    height: 77px;
    padding: initial;
    margin: 11px 1px 1px -35px;
    float: left;
}
a.widget-link.menu {
  margin-top: 3px;
  font-size: 13px;
  color: #222 !important;
}
a.widget-link.menu:hover {
  color: #999 !important;
}

a.menu-profile:hover {
  color: #e45735 !important;
}
a.menu-profile { 
display: block; 
color: #222;
margin: 12px 1px 3px 0;
}
a.menu-profile:first-letter {
color: #fa6c8d; 
}

.numer i.fa-heart {
    color: #fa6c8d !important;
}

.vr {color:#666;font-size:12px;display: block;}
.numer {float: right; color:#666;font-size:12px;}
.dann {
margin-top: 4px;
display: block;
}

.user-profile.widget-container {
margin-top: 1px;
font-style: italic;
}

.dov{
margin: 4px 10px 3px 5px;
float: right;
text-align: center;
max-width: 125px;
}
.col0 {color:#45A163;}
.col1 {color:#335599;}
.col2 {color:#4dc1c0;}
.col3 {color:#f38844;}
.col4 {color:#d768c4;}  

.sidebar-menu li {
color: #666;
margin-left: 14px;
}
    
.topic-status-info {
    max-width: 840px;
}
.small-action {
    max-width: 840px;
}
.post-menu-area {
    margin-bottom: 1px;
    margin-top: 5px;
}
a.tag-sid {
  font-weight: normal;
  color: #39739d !important;
  background-color: #E1ECF4;
  padding: 2px 8px;
  }
  
a.tag-sid:hover {
  background-color: #cee0ed;
  }  
 
div.test a.cat {
    color: #08e !important; 
}
div.staff a.cat {
    color: #08e !important;
}
    
 @media(min-width:980px) {
  
  .has-sidebar + .sidebar {
    width: 13%;
    float: left;
    min-height: 100px;
   }

  .list-container.has-sidebar {
    width: 85%;
    float: right;
   }
  h3.sidebar-heading {
   color: #888;
   padding-bottom: 4px;
   padding-top: 13px;
   font-size: 13px;
   font-weight: normal;
   text-transform: uppercase;
   }

  a.cat {
  margin-top: 3px;
  display: inline-block; 
  font-size: 13px;
  font-weight: normal;
  color: #666 !important; 
   }

  a.cat:hover {
    color: #999 !important;
   }
     
  a.cat-t {
  margin-top: 5px;
  display: inline-block; 
  font-size: 13px;
  font-weight: normal;
  color: #e45735 !important; 
   }  
   a.cat-t:hover {
   color: #ed5b38 !important;
   }
body[class*="category-test"] .sidebar {display: none;visibility: hidden;}
body[class*="category-test"] .list-container.has-sidebar {float: none;width: 100%;}
body[class*="category-staff"] .sidebar {display: none;visibility: hidden;}
body[class*="category-staff"] .list-container.has-sidebar {float: none;width: 100%;}
}
}
