<h1>География</h1>
<div>{{model.name}}</div>
 

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=mymaps%3AozxdXvjacYnz6NF9YG8Wk4rRSvVAEHBE&amp;width=1110&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>
